<svg width="506px" height="141px" viewBox="-0.5 -0.5 506 141"><defs/><g>
    <rect x="217" y="70" width="70" height="70" fill="#ff0000" stroke="rgb(0, 0, 0)" pointer-events="all"/>
    <path d="M 351 105 L 287 105" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="stroke"/>
    <path d="M 426 105 L 490.63 105" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="stroke"/>
    <path d="M 495.88 105 L 488.88 108.5 L 490.63 105 L 488.88 101.5 Z" fill="rgb(0, 0, 0)" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
    <path d="M 351 105 L 366 105 M 411 105 L 426 105 M 372 104 L 408 89" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
    <ellipse cx="408" cy="105" rx="3" ry="3" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)" pointer-events="all"/>
    <ellipse cx="369" cy="105" rx="3" ry="3" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)" pointer-events="all"/>
    <path d="M 152 105 L 217 105" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="stroke"/>
    <path d="M 77 105 L 7 105" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="stroke"/>
    <path d="M 7 109 L 15 105 L 7 101" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
    <path d="M 77 105 L 92 105 M 137 105 L 152 105 M 98 104 L 134 89" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
    <ellipse cx="134" cy="105" rx="3" ry="3" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)" pointer-events="all"/>
    <ellipse cx="95" cy="105" rx="3" ry="3" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)" pointer-events="all"/>
    <path d="M 214.5 16 L 77 16.03 L 77 105" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="stroke"/>
    <path d="M 289.5 16 L 427 16.03 L 427 105 L 426 105" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="stroke"/>
    <path d="M 214.5 16 L 229.5 16 M 274.5 16 L 289.5 16 M 235.5 15 L 271.5 0" fill="none" stroke="rgb(0, 0, 0)" stroke-miterlimit="10" pointer-events="all"/>
    <ellipse cx="271.5" cy="16" rx="3" ry="3" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)" pointer-events="all"/>
    <ellipse cx="232.5" cy="16" rx="3" ry="3" fill="rgb(255, 255, 255)" stroke="rgb(0, 0, 0)" pointer-events="all"/>
</g></svg>